<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> W.C.S Libreria </title>
      <!-- Llamando al CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  
  <body class="text-center">
    
    <!-- Formulario de Ingreso  -->
    <main class="form-signin">
      <form id= "formLogin" action="/login" method="post" >
      
        <img class="bi me-2" class="bd-placeholder-img rounded-circle" src="img/libro.png" width="120" height="120">
        
        <h4>INICIA SESION</h4>
        <h4>W.C.S Libreria</h4>

        <div class="form-floating">
          <input type="text" class="form-control" id="usuario" name="usuario" placeholder="usuario">
          <label for="usuario"> Usuario</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="contraseña">
          <label for="contraseña"> Contraseña</label>
        </div>

        <button  href= "/principal" class="w-100 btn btn-lg btn-bd-primary" type="submit">Ingresar</button>
      </form>
      <br>

      <a type="button" href="/" class="w-100 btn btn-lg btn-primary" > Regresar</a> 
      
    </main>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <% if(alert) { %>
      <script>
        Swal.fire({
          title:'<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %> 

        }).then(()=>{ 
        window.location = '<%= ruta %>'
        }) 
      
      </script>
    <% } %> 

  </body>
</html>
